body .container {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: .875rem;
}

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh-50px);
}

/* ICONS */
  
.feather {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

/* HEADER */

.navbar {
    background: lightblue;
    margin: 0;
    border-radius: 0;
}
  
.navbar-brand {
    font-size: 1rem;
    color: rgb(5, 78, 78);
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
}

.nav-text {
    padding-top: 15px;
    padding-left: .3rem;
}

#sidebarCollapse {
    margin-right: 10px;
    background: teal;
    color: aliceblue;
    float: right;
}

.map-icon {
    margin-top: -3px;
    height: 24px;
    width: 24px;
}

/* SIDEBAR */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: aliceblue;
    color: #fff;
    transition: all 0.3s;
    z-index: 100;
    float: right;
    position: absolute;
    right: 0;
    height: 92vh;
}

#sidebar.active {
    display: none;
    margin-right: -250px;
}

#sidebar .sidebar-header {
    color: teal;
    margin: 10px;
    background: aliceblue;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

#dropdownMenuButton {
    float: right;
    background-color: lightblue
}

.dropdown-item {
    padding: 10px;
    margin-left: 12px;
}

.dropdown-header {
    font-weight: bold;
    font-size: 16px;
}

.place-list {
    padding-top: 10px;
    clear: both;
}

.nav-item {
    font-size: 14px;
    color: teal;
}

.nav-link {
    color: teal;
}

.nav-link .active {
    font-weight: bold;
}

/* MAP */

#map {
    width: 100%;
    margin-right: 250px;
    background: papayawhip;
    min-height: 92vh;
    transition: all 0.3s;
}

#map.active {
    margin-right: 0;
}

html {
    background-color: lightblue;
}

/* MEDIA */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
