html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu {
    position: absolute;
    width: 14em;
    background: #fcf8ef;
    border: 1px solid #f7e1b5;
    padding-bottom: 10px;
    z-index: 2;
}

#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

input {
    width: 10em;
}

.navbar-default {
    background-color: #fcf8ef;
    border-color: #f7e1b5;
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 22px;
}

.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 18px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.map-icon {
    width: 24px;
    height: 24px;
}
