/* MAIN */

body .container {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: .875rem;
}

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh-50px);
}

/* ICONS */
  
.feather {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

/* HEADER */

.navbar {
    background: rgb(204, 194, 190);
    margin: 0;
    border-radius: 0;
}
  
.navbar-brand {
    font-family: 'Expletus Sans', cursive;
    font-size: 1rem;
    color: rgb(46, 41, 35);
    font-weight: bold;
    font-size: 22px;
    vertical-align: bottom;
}

.nav-text {
    padding-top: 17px;
    padding-left: .3rem;
}

#sidebarCollapse {
    float: right;
    margin-right: 10px;
    background: rgb(46, 41, 35);
    color: rgb(255, 248, 240);
    float: right;
}

.map-icon {
    margin-top: -3px;
    height: 24px;
    width: 24px;
}

.login-info {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    color: rgb(46, 41, 35);
    font-weight: bold;
    font-size: 16px;
}

/* SIDEBAR */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(255, 248, 240);
    color: #fff;
    transition: all 0.3s;
    z-index: 100;
    float: right;
    position: absolute;
    right: 0;
    height: 92vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar.active {
    display: none;
    margin-right: -250px;
}

.sidebarActive {
    display: none;
    margin-right: -250px;
}

#sidebar .sidebar-header {
    color: rgb(46, 41, 35);
    margin: 10px;
    background: rgb(255, 248, 240);
}

.list-title {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

#addCafeButton {
    float: right;
    background-color: rgb(167, 151, 137);
    margin-left: 3px;
}

#dropdownMenuButton {
    float: right;
    background-color: rgb(167, 151, 137)
}

.dropdown-item {
    padding: 10px;
    margin-left: 12px;
}

.dropdown-header {
    font-weight: bold;
    font-size: 16px;
}

.place-list {
    padding-top: 10px;
    clear: both;
}

.create-new-cafe {
    margin: 10px;
}

.new-cafe-title {
    font-size: 18px;
    color: rgb(46, 41, 35);
}

.new-cafe-desc {
    font-size: 14px;
    color: rgb(46, 41, 35);
}

.new-cafe-submit {
    background-color: rgb(46, 41, 35);
}

.google-title {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(46, 41, 35);
    text-align: center;
}

.google-desc {
    font-size: 14px;
    color: rgb(46, 41, 35);
    text-align: center;
}

#signinButton {
    display: block;
    height: auto;
}

.generic-button {
    background-color: rgb(46, 41, 35);
    color: rgb(167, 151, 137);
}

.delete-cafe-button {
    display: inline;
    position: relative;
    top: -30px;
    left: 190px;
    width: 10px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: rgb(46, 41, 35);
}

.delete-cafe-icon {
    position: relative;
    top: -10px;
    right: 9px;
}

.nav-item {
    font-size: 14px;
    color: rgb(46, 41, 35);
    height: 40px;
}

.nav-link {
    color: rgb(46, 41, 35);
}

.coffeeshopClicked{
    background-color: #eee;
    font-weight: bold;
    color: rgb(139, 52, 26);
}

.coffeeshop:active {
    font-weight: bold;
}
.coffeeshop:focus {
    font-weight: bold;
}
.coffeeshop:hover {
    font-weight: bold;
}

.filter-category {
    margin-left: 5px;
}

.no-result {
    font-size: 16px;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
}

.no-map-container {
    padding: 0px 20px 20px 40px;
}

.no-map-container .map-loaded {
    display: none;
}

.no-map.cafe-name {
    color: rgb(46, 41, 35);
}

.no-map.cafe-description {
    font-size: 16px;
    color: rgb(65, 62, 58);
    width: 450px;
}

.no-map.cafe-desc-title {
    font-size: 16px;
    color: rgb(65, 62, 58);
    width: 450px;
    font-weight: bold;
}

.no-map.cafe-yelp-link {
    font-size: 16px;
    color: rgb(65, 62, 58);
    width: 450px;
    font-weight: bold;
    text-decoration: underline;
}

.no-map.cafe-image {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.yelp-data-container {
    display: block;
}

/* MAP */

#map {
    width: 100%;
    margin-right: 250px;
    background: lightgrey;
    min-height: 92vh;
    transition: all 0.3s;
}

#map.active {
    margin-right: 0;
}

.mapActive {
    margin-right: 0;
}

html {
    background-color: rgb(167, 151, 137);
}

/* MEDIA */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .sidebarActive {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 520px) {
    .no-map.cafe-description {
        width: 80vw;
    }
}
