<!DOCTYPE html>
<html>

<head>
    <title>Seattle's Coffee</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="../static/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../static/pics/map.png" />
    <link rel="icon" type="image/png" href="../static/pics/map.png" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar fixed-top flex-md-nowrap">
            <a class="navbar-brand" href="http://map.uzhvieva.com/">
                <img class="map-icon" src="../static/icons/coffee.png">
            </a>
            <a class="navbar-brand nav-text" href="">Seattle's Coffee</a>
            <button type="button" id="sidebarCollapse" class="btn navbar-btn">
                <i data-feather="list"></i>
            </button>
        </nav>

        <div class="wrapper">
            <main role="main" id="map" class="active">
            </main>
            <nav id="sidebar" class="active">
                <div class="sidebar-header">
                    <span class="list-title">Coffee shops</span>
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i data-feather="filter"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item active">
                                <input type="radio" name="category" checked value="All" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Show All</span>
                                </input>
                            </div>
                            <div class="dropdown-header">Choose your favorite:</div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="oat" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Oat Milk</span>
                                </input>
                            </div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="almond" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Almond Milk</span>
                                </input>
                            </div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="soy" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Soy Milk</span>
                                </input>
                            </div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="hemp" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Hemp Milk</span>
                                </input>
                            </div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="coconut" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Coconut Milk</span>
                                </input>
                            </div>
                            <div class="dropdown-item">
                                <input type="radio" name="milk" value="cashew" data-bind="checked:selectedMilk" onchange="filterMarkers(this.value);">
                                <span class="filter-category">Cashew Milk</span>
                                </input>
                            </div>
                        </div>
                        <span class="no-result" data-bind="visible: filteredCafe().length == 0">No Results</span>
                    </div>
                    <ul class="nav place-list" data-bind="foreach: filteredCafe">
                        <li class="nav-item">
                            <a class="nav-link coffeeshop" href="#" data-bind="text: name" onclick="triggerClickOnMarker(this.text)">
                            </a>
                        </li>
                    </ul>
            </nav>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#map').toggleClass('active');
            });
            $(".coffeeshop").click(function(){
                $(".coffeeshop").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/index.js" type="text/javascript"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJu-DuGHp_7ffUNx7gBQNNoangphWaOVE&callback=initializeMap">
    </script>
    <script>
        feather.replace()
    </script>
</body>

</html>